body {
  padding: 0;
  margin: 0;
  background-image: url("../bggif.gif");
  background-size: 100vw 100vh;
  color: white;
}

.back-char {
  height: fit-content;
}
.nav-char {
  background-color: rgba(0, 0, 0, 0.453);
  /* background: transparent; */
  display: flex;
  max-height: 50px;

  justify-content: space-between;
  padding: 0.5%;
  padding-bottom: 0;
}

.log-char {
  max-width: 13%;
}
/* DROPDOWN */
.drop-char {
  max-width: auto;
  max-height: auto;
  text-decoration: none;
}

.nav-1-char {
  padding-right: 1%;
  padding-left: 1%;
  text-decoration: none;
}
.nav-d-char {
  background-color: black;
  text-decoration: none;
  padding: 0;
  content: 0;
  visibility: hidden;
  transition-duration: 1s;
}
.nav-d-char p {
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 0;
  content: 0;
  margin-top: 0;
}
.drop-char:hover {
  background-color: brown;
}

.drop-char:hover ~ .nav-d-char {
  transition-duration: 1s;
  visibility: visible;
  display: block;
}
.nav-1-char:hover ~ .nav-d-char {
  visibility: visible;
  display: block;
}
.nav-d-char:hover {
  background-color: brown;
  visibility: visible;
}
.nav-d-char:hover p {
  background-color: red;
}
.div1-about p {
  color: white;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}
.gif-about {
  border-radius: 4%;
  margin-left: 5%;
}
/* footer */
.foot-char {
  background-color: black;
  color: white;
  position: relative;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  padding-left: 1%;
}
.foot-img-char {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: right;
  padding-right: 1%;
}
.img-1-char {
  max-width: 3%;
  padding: 0;
  margin: 0;
}
.img-2-char {
  max-width: 3%;
  padding: 0;
  margin: 0;
}
.sysreq div {
  padding: 0;
}
.sysreq li {
  text-align: left;
}

.bott {
  display: flex;
  justify-content: left;
}

.judulreg {
  margin-top: 10vh;
  width: 80vw;
  display: flex;
  justify-content: center;
  text-align: center;
}

form {
  z-index: 3000;
}
