body {
  padding: 0;
  margin: 0;
  background-image: url(./resource/scene.jpg);
}

.back-char {
  height: fit-content;
}
.nav-char {
  background-color: rgba(0, 0, 0, 0.453);
  /* background: transparent; */
  display: flex;
  max-height: 50px;

  justify-content: space-between;
  padding: 0.5%;
  padding-bottom: 0;
}

.log-char {
  max-width: 13%;
}
/* DROPDOWN */
.drop-char {
  max-width: auto;
  max-height: auto;
  text-decoration: none;
}

.nav-1-char {
  padding-right: 1%;
  padding-left: 1%;
  text-decoration: none;
}
.nav-d-char {
  background-color: black;
  text-decoration: none;
  padding: 0;
  content: 0;
  visibility: hidden;
  transition-duration: 1s;
}
.nav-d-char p {
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 0;
  content: 0;
  margin-top: 0;
}
.drop-char:hover {
  background-color: brown;
}

.drop-char:hover ~ .nav-d-char {
  transition-duration: 1s;
  visibility: visible;
  display: block;
}
.nav-1-char:hover ~ .nav-d-char {
  visibility: visible;
  display: block;
}
.nav-d-char:hover {
  background-color: brown;
  visibility: visible;
}
.nav-d-char:hover p {
  background-color: red;
}

/* SELESAI DROP */

.H1-char {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  align-content: center;
  text-align: center;
}
.cont-char {
  display: inline-block;
  align-self: center;
  background-color: rgba(0, 0, 0, 0.453);
  color: white;
  text-align: center;
  height: 20;
  max-width: 60%;
  padding: 0;
  border-radius: 10%;
}
.cont2-char {
  align-self: center;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  padding-bottom: 10%;
}
.hh-char {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 5%;
  padding-right: 5%;
}
.img1-char {
  max-width: 30%;
}
/* footer dibawah ini */
.foot-char {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
}
.foot-img-char {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: right;
  margin-right: 1%;
}
.img-1-char {
  max-width: 5%;
  padding: 0;
  margin: 0;
}
.img-2-char {
  max-width: 5%;
  padding: 0;
  margin: 0;
}
